body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#mynetwork{
    height: 500px;
    padding:10px;
}
#interactions {
    display:flex;
    align-items: center;
    height:500px;
}
#interactions h1 {
    text-align:center;
    font-size:15px;
}
.buttons-own div{
    display:inline-flex;
    justify-content:space-around;
    padding: 10px 30px;
}
.buttons-own div button {
    width: auto;
}

.controls-own input{
    margin: 5px 5px 0px 5px
}

.controls-own button{
    margin: 5px 0px 0px 2px
}




@media screen and (max-width:1200px) {
    .buttons-own div button {
        width: 100%;
    }
}
