body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#mynetwork{
    height: 500px;
}
#interactions {
    margin:0px;
}
.buttons-own div{
    display:inline-flex;
    justify-content:space-around;
    padding: 10px 30px;
}
.buttons-own div button {
    width: auto;
}

@media screen and (max-width:1200px) {
    .buttons-own div button {
        width: 100%;
    }
}
